<%- include("../ejs/_header", { title: "位数定理 | SNNN数論" }) %>

<h2>位数定理</h2>
<p class="pb-more">
    <a href="prime_power_1">前回の記事</a>で，一般化SNNN数列 $S_{a,b,s}$ の項が素数 $p$ で何回割り切れるかという問題を，$a$ の素因数に限って考察した．それでは，$a$ と互いに素な素数 $p$ についてはどうなるだろうか，というのは自然な問いである．<a href="period.html#cycle_theorem">巡回定理</a>において，$S_{a,b,s}$ が $p$ で割り切れる周期は位数 $\ord_p(a)$ を用いて記述された．このことから，$p^k$（$k$ は正整数）で割り切れる周期に関して $\ord_{p^k}(a)$ が重要な役割を果たすことは容易に予想されよう．本記事では，素数の冪乗を法とする位数に関する重要な定理である<strong>位数定理</strong>の証明を行う．
</p>

<h3>Wieferich Rank</h3>
<p>
    まず，位数定理の記述に必要な概念である <strong>Wieferich Rank</strong> を導入する．
</p>
<p class="definition pb-less">
    <span>定義</span>
    整数 $a$ を底とする素数 $p$ の <strong>Wieferich Rank</strong> $W_p(a)$ を
    $$
        W_p(a) \coloneqq \nu_p(a^{p-1}-1)
    $$
    で定める（$\nu_p$ の定義は<a href="prime_power_1.html#nu">こちら</a>）．
</p>
<h5 class="example">例</h5>
<p class="pb-more">
    $W_3(10)=2,$
    $W_7(10)=1,$
    $W_{11}(10)=1,$
    $W_{13}(10)=1,$
    $W_{17}(10)=1,$
    $W_{19}(10)=1$.
</p>
<p class="pb-more">
    $a$ が $p$ と互いに素であれば，フェルマーの小定理 $a^{p-1}\equiv 1\mod{p}$ より $W_p(a)\ge 1$ である．実は，ほとんどの $a,p$ に対して $W_p(a)=1$ であり，$W_p(a)>1$ となるような場合は極めて稀である．例えば，底 $a$ が $10$ であるとき，$W_p(10)>1$ となるような $p$ は $3,$ $487,$ $56598313$ の3つのみが知られている（2022年5月時点）．このような $p$ を，$a$ を底とする<a href="https://en.wikipedia.org/wiki/Wieferich_prime#Base-a_Wieferich_primes"><strong>Wieferich素数</strong></a>という．
</p>

<h3 id="order_theorem">位数定理</h3>
<p class="theorem pb-less">
    <span>位数定理</span>
    $p$ を素数，$k$ を正整数, $a$ を $p$ と互いに素な奇素数とする．このとき，
    $$
        \ord_{p^k}(a) = p^{\max(0, k-W_p(a))} \cdot \ord_p(a).
    $$
</p>
<h5 class="example">例</h5>
<p class="pb-more">
    $\ord_{3}(10)=1, W_3(10)=2$ より
    $\ord_{3^2}(10) = 3^0 \cdot 1 = 1,$
    $\ord_{3^3}(10) = 3^1 \cdot 1 = 3,$
    $\ord_{3^4}(10) = 3^2 \cdot 1 = 9,$
    $\ord_{3^5}(10) = 3^3 \cdot 1 = 27$.
</p>
<p>
    以下，この定理の証明を行う．この証明は群論を用いており，高校数学の範囲を逸脱するものである．難解であると感じる読者は，定理の主張のみを認めて次の記事に進んでも差し支えない．
</p>
<p class="pb-less">
    まず，本記事のみで用いる記法として，次の2点を約束する．
</p>
<ul class="disc pb-less">
    <li>加法群 $\Z/m\Z$ や乗法群 $(\Z/m\Z)^\times$ の元について，$n\in\Z$ の同値類は本来 $[n]$ や $\bar{n}$ などと表記すべきであるが，これを省略して単に $n$ と表記する．</li>
    <li>一般の群 $G$ における $x\in G$ の位数を $\ord_G(x)$ と表記する．すなわち $\ord_m(n)=\ord_{(\Z/m\Z)^\times}(n)$.</li>
</ul>
<p>
    さて，議論の出発点として次の群同型を考える（証明は<a href="https://integers.hatenablog.com/entry/2016/07/24/163831">こちら</a>を参照）．
    $$
    \begin{align*}
    (\Z/p^k\Z)^\times
    &\simeq \Z/p^{k-1}(p-1)\Z \\
    &\simeq \Z/p^{k-1}\Z \times \Z/(p-1)\Z
    \end{align*}
    $$
    法 $p^k$ の<a href="https://ja.wikibooks.org/wiki/%E5%88%9D%E7%AD%89%E6%95%B4%E6%95%B0%E8%AB%96/%E5%8E%9F%E5%A7%8B%E6%A0%B9%E3%81%A8%E6%8C%87%E6%95%B0">原始根</a>を $g$ とおくと，1行目の同型は $g$ の指数関数であり，2行目の同型は自然な写像である．$p^{k-1}$ と $p-1$ は互いに素であるから，$a$ が $a\equiv g^{a'} \mod{p^k}$ と表示されるとき
    $$
    \begin{align}
    \ord_{p^k}(a) = \ord_{\Z/p^{k-1}\Z}(a') \cdot \ord_{\Z/(p-1)\Z}(a')
    \end{align}
    $$
    が成り立つ．
</p>
<p>
    この式を用いて，$k$ が変化したときの $\ord_{p^k}(a)$ の変化を考えよう．いま，十分大きな正整数 $K$ をとり，法 $p^K$ の原始根 $g$ を用いて $a\equiv g^{a'}\mod{p^K}$ と表示する．ここで $k$ が $1\le k\le K$ の範囲を動くとき，$g$ は法 $p^k$ の原始根であり，$a$ の表示 $a\equiv g^{a'}\mod{p^k}$ が成立する（$g$ および $a'$ が $k$ に依存しないことに注意せよ）．よって，(1)式において $k=1$ とすれば
    $$
    \begin{align*}
    \ord_{p^1}(a) &= \ord_{\Z/\Z}(a') \cdot \ord_{\Z/(p-1)\Z}(a') \\
    \ord_{p}(a) &= 1 \cdot \ord_{\Z/(p-1)\Z}(a') \\
    \end{align*}
    $$
    を得る．これを再び(1)式に代入すると
    $$
    \begin{align}
    \ord_{p^k}(a) = \ord_{\Z/p^{k-1}\Z}(a') \cdot \ord_p(a)
    \end{align}
    $$
    となる．
</p>
<p>
    ここで次の補題を用いる．
</p>
<p class="theorem pb-less">
    <span>補題</span>
    $p$ を素数, $k$ を自然数，$n$ を整数とする．このとき，
    $$
        \ord_{\Z/p^k\Z}(n) = p^{\max(0, k-\nu_p(n))}.
    $$
</p>
<h5 class="proof">証明</h5>
<p class="pb-more">
    $\ord_{\Z/p^k\Z}(n)$ は，$cn\equiv0 \mod{p^k}$ を満たす最小の正の $c$ である．ここで
    $$
    \begin{align*}
    & cn\equiv 0 \mod{p^k} \\
    \iff& \nu_p(cn) \ge k \\
    \iff& \nu_p(c) + \nu_p(n) \ge k \\
    \iff& \nu_p(c) \ge k - \nu_p(n)
    \end{align*}
    $$
    であるから補題が成立する．$\blacksquare$
</p>
<p>
    この補題を(2)式に適用すると
    $$
    \begin{align}
    \ord_{p^k}(a) = p^{\max(0,k-1-\nu_p(a'))} \cdot \ord_p(a)
    \end{align}
    $$
    となる．この式より
    $$
    \ord_{p^k}(a)=\ord_p(a) \iff k \le 1+\nu_p(a')
    $$
    が導かれる．一方，位数の定義より
    $$
    \begin{align*}
    \ord_{p^k}(a)=\ord_p(a) &\iff a^{\ord_p(a)}\equiv 1 \mod{p^k} \\
    &\iff \nu_p(a^{\ord_p(a)}-1) \ge k
    \end{align*}
    $$
    であるから，2つの条件を比較して
    $$
    \begin{align}
    1+\nu_p(a') = \nu_p(a^{\ord_p(a)}-1)
    \end{align}
    $$
    を得る．ここで，$\ord_p(a)$ は $p-1$ の約数であるから
    $$
    a^{p-1}-1 = (a^{\ord_p(a)}-1) \left(a^0 + a^{\ord_p(a)} + a^{2\cdot\ord_p(a)} + \cdots + a^{\left( \frac{p-1}{\ord_p(a)}-1 \right)\cdot\ord_p(a)} \right)
    $$
    が成り立つ．右辺の和を $p$ で割った余りを考えると
    $$
    \begin{align*}
    & \quad\; a^0 + a^{\ord_p(a)} + a^{2\cdot\ord_p(a)} + \cdots + a^{\left( \frac{p-1}{\ord_p(a)}-1 \right)\cdot\ord_p(a)} \\
    &\equiv 1+1+1+\cdots+1 \\
    &\equiv \frac{p-1}{\ord_p(a)}
    \nequiv 0 \qquad\quad\mod{p}
    \end{align*}
    $$
    であるから，
    $$
    \nu_p(a^{\ord_p(a)}-1) = \nu_p(a^{p-1}-1) = W_p(a)
    $$
    を得る．これと(4)式より $1+\nu_p(a')=W_p(a)$ であるから，これを(3)式に代入して
    $$
    \ord_{p^k}(a) = p^{\max(0, k-W_p(a))} \cdot \ord_p(a)
    $$
    となる．以上で位数定理が示された．
</p>

<%- include("../ejs/_footer", { links: ["prime_power_1.html", "../contents.html", "prime_power_2.html"] }) %>
