<%- include("../ejs/_header", { title: "SNNN素因数の無限性 | SNNN数論" }) %>

<h2>SNNN素因数の無限性</h2>

<p>
    <a href="period.html">前回の記事</a>で証明した巡回定理の応用として，SNNN数の素因数（<strong>SNNN素因数</strong>）が無数に存在することを証明しよう．本記事ではSNNN数列 $S_{10,7,3}$ を $S$ と表記する．
</p>
<p class="theorem pb-less">
    <span>補題</span>
    $n$ を自然数，$p$ を $10$ と互いに素な素数とする．このとき，
    $$ n\equiv -1\enspace(\text{mod }u_p) \implies S(n)\nequiv 0\enspace(\text{mod }p). $$
</p>
<h5 class="proof">証明</h5>
<p class="pb-less">
    巡回定理より，$S(u_p-1)\nequiv 0\mod{p}$ を示せば十分である．$u_p$ の表式によって場合分けを行う．
</p>
<h4>$u_p=\ord_p(a)$ の場合</h4>
<p class="pb-less">
    対偶を示す．以下，合同式の法を $p$ とする．$S(u_p-1)\equiv 0$ を仮定すると
    $$
    \begin{align*}
    \frac{Da^{\ord_p(a)-1}-b}{a-1} &\equiv 0\\
    Da^{\ord_p(a)}-ab &\equiv 0\\
    D-ab &\equiv 0\\
    (a-1)s+b-ab &\equiv 0\\
    (a-1)(s-b) &\equiv 0\\
    \end{align*}
    $$
    $a\nequiv 1$ であるから $s-b\equiv 0$．すなわち $p$ は $s-b\,(=-4)$ の約数であるから $p=2$．これは $10$ と互いに素でない．
</p>
<h4>$u_p=p$ の場合</h4>
<p class="pb-less">
    $a-1\,(=9)$ の約数，すなわち $p=3$ が該当する．このとき $S(u_p-1)\equiv S(2)\equiv 377\nequiv 0\mod{3}$．
</p>
<h4>$u_p=1$ の場合</h4>
<p class="pb-more">
    $D\,(=34)$ の約数，すなわち $p=17$ が該当する．このとき $S(u_p-1)\equiv S(0)\equiv 3\nequiv 0\mod{17}$．$\blacksquare$
</p>
<p class="theorem pb-less">
    <span>定理</span>
    SNNN素因数は無数に存在する．
</p>
<h5 class="proof">証明</h5>
<p class="pb-more">
    SNNN素因数が有限個であると仮定し，それらを $p_1,p_2,\cdots,p_m$ とおく．$p_i\;(1\le i\le m)$ は全て $10$ と互いに素である（$\because$ 全てのSNNN数は $2$ と $5$ で割り切れない）．よって補題より
    $$
    \begin{align*}
    n &\equiv -1 \mod{u_{p_1}} &&\implies& S(n) &\nequiv 0 \mod {p_1} \\
    n &\equiv -1 \mod{u_{p_2}} &&\implies& S(n) &\nequiv 0 \mod {p_2} \\
    &&&\enspace\enspace\,\vdots \\
    n &\equiv -1 \mod{u_{p_m}} &&\implies& S(n) &\nequiv 0 \mod {p_m} \\
    \end{align*}
    $$
    が成り立つ．ここで整数 $X\coloneqq u_{p_1}u_{p_2}\cdots u_{p_m}-1$ を考えると，$n=X$ は $m$ 個の条件節全てを満たすから，$S(X)$ はいずれの $p_i$ でも割り切れない．しかし明らかに $S(X)>1$ であるから，これは $p_i$ がSNNN素因数を全て尽くしていることに矛盾する．$\blacksquare$
</p>
<p>
    この証明はSNNN数列 $S_{10,7,3}$ に特有のものであり，一般の $S_{a,b,s}$ に適用できるものではない．一方で，「素因数が無数に存在する」という性質そのものは，ほとんど全ての一般化SNNN数列において成り立つことが知られている．この事実は<strong>SNNN素因数定理</strong>と呼ばれ，その証明には本記事と全く異なるアプローチを要する．
</p>
<h4 class="exercise">演習問題</h4>
<p class="pb-more">
    一般化SNNN数列 $S_{10,7,s}$ が上記の補題を満たさないような $s$ を1つ求めよ．
</p>

<%- include("../ejs/_footer", { links: ["period.html", "../contents.html", ""] }) %>
