<%- include("../ejs/_header", { title: "a の素因数に対する一般化SNNN数列の性質 | SNNN数論" }) %>

<h2>$a$ の素因数に対する一般化SNNN数列の性質</h2>

<p class="pb-more">
    $a$ と互いに素な素数 $p$ に対する一般化SNNN数列 $S_{a,b,s}$ の振る舞いは，<a href="period.html#theorem_cycle">巡回定理</a>によって記述される．それでは，$p$ が $a$ の素因数である場合はどうなるだろうか．ここでは，一例として
    $$ S_{10,-16,4}=[4,24,224,2224,\cdots] $$
    なる数列（ゆゆす数列）と，$a\,(=10)$ の素因数 $p=2$ について観察しよう．この数列の全ての項が $2$ で割り切れることは明らかであるが，ここから一歩踏み込んで「$2$ で何回割り切れるか」を考えよう．ゆゆす数列の素因数分解は
    $$
    \begin{align*}
    4 &= 2^2 \\
    24 &= 2^3 \times 3 \\
    224 &= 2^5 \times 7 \\
    2224 &= 2^4 \times 139 \\
    22224 &= 2^4 \times 3 \times 463 \\
    222224 &= 2^4 \times 17 \times 19 \times 43 \\
    2222224 &= 2^4 \times 138889 \\
    \end{align*}
    $$
    となっている．素因数 $2$ の個数は $2,3,5,4,4,4,4,\cdots$ と遷移しているが，この数列に何らかの法則性を見出せないだろうか．以下では，このことついて一般的に考察する．
</p>

<h3 id="nu">記号 $\nu_m(n)$ の定義と性質</h3>

<p>
    まず，次の記号を導入する．
</p>
<p class="definition pb-less" id="definition_nu">
    <span>定義</span>
    整数 $m,n$ に対し，$n$ が $m$ で割り切れる回数を $\nu_m(n)$ で表す．ただし，$\nu_m(0)=\infty$ と約束する．
</p>
<h5 class="example" id="example_nu">例</h5>
<p class="pb-more">
    $\nu_2(4)=2,$ $\nu_2(24)=3,$ $\nu_2(224)=5,$ $\nu_2(2224)=4$.
</p>
<p>
    この定義は簡明であるが，証明では扱いにくい．証明においては，合同式による表現
    $$
    \begin{align*}
    \nu_m(n) &\ge k &&\iff& &n\equiv 0\mod{m^k} \\
    \nu_m(n) &= k &&\iff& &(n\equiv 0\mod{m^k} \text{ かつ } n\nequiv0\mod{m^{k+1}}) \\
    \end{align*}
    $$
    が便利である．
</p>
<p>
    さて，以下では2つの整数 $x,y$ が与えられたとき，それらの和や積が素数 $p$ で割り切れる回数を考えよう．
</p>
<p class="theorem" id="theorem_nu">
    <span>定理</span>
    素数 $p$ と整数 $x,y$ について
    $$
    \begin{align*}
    \nu_p(xy) &= \nu_p(x) + \nu_p(y) \\
    \nu_p(x+y) & \begin{cases}
        = \min(\nu_p(x),\nu_p(y)) & \text{if } \nu_p(x) \neq \nu_p(y) \\
        \ge \nu_p(x) & \text{if } \nu_p(x) = \nu_p(y). \\
    \end{cases}
    \end{align*}
    $$
</p>
<p class="pb-more">
    証明は容易であるので，読者の演習問題とする．
</p>

<h3 id="nu_limit">$p$ で割り切れる回数の極限値</h3>

<p>
    それでは，$\nu_p$ を用いて一般化SNNN数列の法 $p^k$ における振る舞いを調べよう．以下，特に断らない限り，合同式の法は全て $p^k$ とする．
</p>
<p class="theorem pb-less" id="lemma">
    <span>補題</span>
    $S_{a,b,s}$ を一般化SNNN数列，$p$ を $a$ の素因数，$k,n$ を自然数とする．このとき，
    $$
    n\ge\frac{k}{\nu_p(a)} \implies (a-1) \cdot S_{a,b,s}(n) \equiv -b \mod{p^k}.
    $$
</p>
<h5 class="proof">証明</h5>
<p class="pb-more">
    $a$ の素因数が存在することから $a\neq 1$ である．よって<a href="definition.html#expression">一般化SNNN数列の一般項</a>より
    $$
    \begin{align*}
    S_{a,b,s}(n) &\equiv \frac{Da^n-b}{a-1} \\
    (a-1)\cdot S_{a,b,s}(n) &\equiv Da^n-b \\
    \end{align*}
    $$
    である．ここで $\nu_p(a^n) = \nu_p(a) \cdot n \ge \nu_p(a) \cdot \frac{k}{\nu_p(a)} = k$ より $a^n \equiv 0$ であるから
    $$
    (a-1)\cdot S_{a,b,s}(n) \equiv -b
    $$
    が成り立つ．$\blacksquare$
</p>
<p>
    この補題は，十分大きな $n$ において，$S_{a,b,s}(n)$ を $p^k$ で割った余りがある一定値に収束することを主張する．この値が $0$ と合同であるかを調べれば，$S_{a,b,s}(n)$ が $p$ で割り切れる回数に関する情報を得られるだろう．実際，$a-1\not\equiv 0$ より
    $$
    \begin{align*}
    & S_{a,b,s}(n) \equiv 0 \\
    \iff& (a-1) \cdot S_{a,b,s}(n) \equiv 0 \\
    \iff& b \equiv 0 \\
    \iff& \nu_p(b) \ge k \\
    \end{align*}
    $$
    が分かる．すなわち，$\nu_p(b)$ が有限値であれば，十分大きな $n$ において $S_{a,b,s}(n)\equiv 0\mod{p^{\nu_p(b)}}$ かつ $S_{a,b,s}(n)\not\equiv 0\mod{p^{\nu_p(b)+1}}$ が成り立つ．また $\nu_p(b)=\infty$ であれば，どれだけ大きな $k$ に対しても余りは $0$ に収束する．したがって次の定理を得る．
</p>
<p class="theorem pb-less" id="theorem">
    <span>定理</span>
    $S_{a,b,s}$ を一般化SNNN数列，$p$ を $a$ の素因数とする．このとき，
    $$ \lim_{n\to\infty}\nu_p(S_{a,b,s}(n))=\nu_p(b). $$
</p>
<h5 class="example" id="example">例</h5>
<p class="pb-more">
    ゆゆす数列 $S_{10,-16,4}$ における素因数 $2$ の個数について，$\lim_{n\to\infty}\nu_2(S_{10,-16,4}(n))=\nu_2(-16)=4$.
</p>
<p>
    なお，以上の議論から特に，$b\neq 0$ ならば $\nu_p(S_{a,b,s}(n))$ が有界である（上限が存在する）ことが分かる．この事実は，SNNN素因数定理の証明において重要な役割を果たす．
</p>

<%- include("../ejs/_footer", { links: ["prime_factors.html", "../contents.html", "order_theorem.html"] }) %>
