<%- include("ejs/_header", { title: "目次 | SNNN数論" }) %>

<h2>目次</h2>

<h3>SNNN数論</h3>
<ul class="disc">
    <li><a href="pages/definition.html">一般化SNNN数列の定義と一般項</a></li>
    <li><a href="pages/period.html">素因数の周期性（巡回定理）</a></li>
    <li><a href="pages/prime_factors.html">SNNN素因数の無限性</a></li>
    <li><a href="pages/prime_power_1.html">$a$ の素因数に対する一般化SNNN数列の性質</a></li>
    <li>Wieferich素数と位数補題</li>
    <li>素数冪約数の性質</li>
    <li>SNNN素因数定理</li>
    <li>あらゆるSNNN数を割り切らない素数</li>
</ul>

<h3>その他</h3>
<ul class="disc">
    <li><a href="pages/symbols.html">数学記号など</a></li>
</ul>

<%- include("ejs/_footer") %>
