<%- include("ejs/_header", { title: "SNNN数論" }) %>

<h2>SNNN数論とは</h2>
<p>$3,37,377,3777,\cdots$ のような数を<ruby><strong>SNNN</strong><rt>さななな</rt></ruby><strong>数</strong>という．これは，同人声優の<a href="https://w.atwiki.jp/cookie_kaisetu/pages/41.html">さななな</a>氏に因んで名付けられた数である．<strong>SNNN数論</strong>とは，SNNN数の性質について研究する学問である．</p>
<p>SNNN数論の中心的な研究は，SNNN数と素数の関連性を調べるものである．例えば，素数であるようなSNNN数（<strong>SNNN素数</strong>）を考えると，そのような数は $3,$ $37,$ $377\cdots77$（$7$が11個）$,$ $377\cdots77$（$7$が17個）$,$ $377\cdots77$（$7$が773個）$,$ $377\cdots77$（$7$が18155個）の6つのみが知られている（2022年5月時点）．SNNN素数の分布については謎が多く，特に「SNNN素数は無数に存在するか」という問いはSNNN数論における重要な未解決問題の1つである．</p>

<h2>このサイトについて</h2>
<p>本サイトはSNNN数論の解説サイトである．一部の記事を除き，基本的には高校数学の知識のみを前提として議論する．数学的な注意事項や各種記号については<a href="pages/symbols.html">こちら</a>を参照されたい．</p>
<p>なお，本サイトの内容に準拠した解説動画シリーズ「<a href="https://www.nicovideo.jp/series/311235">SNNN数であそぼ☆</a>」ではより平易な解説を行っているが，簡単のために数学的な正確さを欠いた表現を用いることがある．従って，本サイトと動画で解説に差異がある場合には，本サイトの方が正確であると考えて差し支えない．</p>
<p>誤植を発見された方は，<a href="https://twitter.com/kumrnm">著者のTwitter</a>までご連絡いただきたい．</p>

<%- include("ejs/_footer") %>
