<%- include("ejs/_header", { title: "関連リンク | SNNN数論" }) %>

<h2>関連リンク</h2>

<table class="ta1">
<tr>
<th><a href="https://www.nicovideo.jp/series/311235">SNNN数であそぼ☆</a></th>
<td>本サイトの内容に準拠した解説動画シリーズ</td>
</tr>
<tr>
<th><a href="https://www.nicovideo.jp/watch/sm24261186">【数学】SNNN数.snnn</a></th>
<td>SNNN数論の創始者であるsiratama氏による解説動画</td>
</tr>
<tr>
<th><a href="https://stdkmd.net/nrr/3/37777.htm">377...77の素因数分解 | STUDIO KAMADA</a></th>
<td>具体的な数値例が掲載されている</td>
</tr>
<tr>
<th><a href="https://dic.nicovideo.jp/a/snnn%E6%95%B0">SNNN数とは [単語記事] - ニコニコ大百科</a></th>
<td>関連項目からSNNN数論の文化的背景を知ることができる</td>
</tr>
</table>

<%- include("ejs/_footer") %>
